@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<!--@foreach (var article in ViewBag.Articles)
{
    <h1>@article.Title</h1>
    <p>@article.Content</p>
    <small>@article.Date.ToString()</small>

    <a href="/Articles/Show/@article.Id">Afisare articol</a>
    <a href="/Articles/Edit/@article.Id">Editare articol</a>

    <br />
    <hr />
}

<a href="/Articles/New">Adaugare articol</a>-->

@foreach (var article in ViewBag.Articles)
{
    <h2>@article.Title</h2>
    <p>@article.Content</p>
    <small>@article.Date</small>
    <p>@article.Category.CategoryName</p>

    <a href="/Articles/Show/@article.Id">Afisare articol</a>

    <br />
    <hr />
}

<a href="/Articles/New">Adauga articol</a>


